# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
bower_components/

# Build files
dist/
build/